.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chart-container {
  border: 5px solid black;
  padding: 10px;
  border-radius: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
}

.div1 { grid-area: 1 / 1 / 5 / 9; }
.div2 { grid-area: 1 / 9 / 5 / 13; }
.div3 { grid-area: 5 / 1 / 9 / 5; }
.div4 { grid-area: 5 / 5 / 9 / 8; }
.div5 { grid-area: 5 / 8 / 8 / 9; }
.div6 { grid-area: 8 / 8 / 9 / 9; }
.div7 { grid-area: 5 / 9 / 9 / 13; }
.div8 { grid-area: 9 / 1 / 11 / 9; }
.div9 { grid-area: 9 / 9 / 11 / 13; }

