body {
  margin: 0;
  color: 'black';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-template-areas:
    "a a a a a a a a a b b b"
    "a a a a a a a a a b b b"
    "a a a a a a a a a b b b"
    "a a a a a a a a a b b b"
    "c c c c d f f f f g g g"
    "c c c c d f f f f g g g"
    "c c c c . f f f f g g g"
    "c c c c e f f f f g g g"
    "h h h h h h h h h i i i"
    "h h h h h h h h h i i i"
    "j j j j j j j j j i i i"
    "j j j j j j j j j i i i";
  gap: 8px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px;
  background: #0b1320;
}
.body{
  background-color: #282c34;
}

.div1 { grid-area: a; }
.div2 { grid-area: b; }
.div3 { grid-area: c; }
.div4 { grid-area: d; }
.div5 { grid-area: e; }
.div6 { grid-area: f; }
.div7 { grid-area: g; }
.div8 { grid-area: h; }
.div9 { grid-area: j; }
.div10 { grid-area: i; }

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9,.div10 {
  border: 1px solid #ddd;
  background-color: rgba(200, 200, 255, 0.1);
}
