body {
  margin: 0;
  color: 'white';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.parent {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(14, minmax(0, 1fr));
  grid-template-areas:
    "a a a a a a a a a a a b b b b"
    "a a a a a a a a a a a b b b b"
    "a a a a a a a a a a a b b b b"
    "a a a a a a a a a a a b b b b"
    "a a a a a a a a a a a b b b b"
    "c c c c c d f f f f f g g g g"
    "c c c c c d f f f f f g g g g"
    "c c c c c d f f f f f g g g g"
    "c c c c c d f f f f f g g g g"
    "c c c c c e f f f f f g g g g"
    "h h h h h l l l l l l i i i i"
    "h h h h h l l l l l l i i i i"
    "j j j j j j k k k k k i i i i"
    "j j j j j j k k k k k i i i i";
  gap: 8px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px;
  background: #000000;
}
.body{
  background-color: #000000;
}

.div1 { grid-area: a; }
.div2 { grid-area: b; }
.div3 { grid-area: c; }
.div4 { grid-area: d; 
padding: 0px 15px;}
.div5 { grid-area: e; 
  border: 1px solid hwb(33 9% 19%);
  color:white;}
.div6 { grid-area: f; }
.div7 { grid-area: g; }
.div8 { grid-area: h; }
.div9 { grid-area: j; }
.div10 { grid-area: i; }
.div11 { grid-area: k; }
.div12 { grid-area: l; }

.div1, .div2, .div3, .div4, .div6, .div7, .div8, .div9,.div10,.div11,.div12 {
  border: 1px solid hwb(33 9% 19%);
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

